.card {
  position: relative;
  overflow: hidden;
}
.card img {
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 1.2em;
  display: block;
}
.card h4, .card h3 {
  margin-bottom: 1.5em;
}

h1 {
  font-family: 'Oswald';
  text-align: center;
}
